.button1 {
    
  border: none;
  background: linear-gradient(aqua, blue );
  padding: 20px;
  width: 75%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  font-family: 'Trebuchet MS', sans-serif; 
  border-radius: 40px;
  box-shadow: 0px 0px 2px 2px rgb(196, 68, 201);
  opacity: 0.5;
  
}
.button1:hover {
  background-color:#002ead;
  transition: 0.7s;
}
.button2 {
    
  border: none;
  background: linear-gradient(red, black);
  padding: 20px;
  width: 75%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  font-family: 'Trebuchet MS', sans-serif; 
  border-radius: 40px;
  box-shadow: 0px 0px 2px 2px rgb(196, 68, 201);
  opacity: 0.5;
  
}

.button3 {
    
  border: none;
  background: linear-gradient(purple, pink);
  padding: 20px;
  width: 75%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  font-family: 'Trebuchet MS', sans-serif; 
  border-radius: 40px;
  box-shadow: 0px 0px 2px 2px rgb(196, 68, 201);
  opacity: 0.5;
  
}
.top {
    border-radius: 50%;
    border: 5px solid #555;
  }

  hr.rounded {
    border-top: 8px solid #bbb;
    border-radius: 5px;
    width: 800px;
    opacity: 0.5;
  }
  .footer {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    bottom: 0;
    width: 45%;
    background-color: cadetblue;
    color: black;
    text-align: center;
    border-radius: 10px;
    opacity: 0.5;
  }

  
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    .footer, .button1, .button2, .button3, hr.rounded, .typed-out  {
      width: 100%;

    }
  }

  @media only screen and (max-width:800px) {
    /* For tablets: */
    .footer, .button1, .button2, .button3, hr.rounded, .typed-out {
      width: 80%;
      padding: 0;
    }
    
