body {
  background-image: url('https://github.com/KeithKhaotic/KeithKhaotic.github.io/blob/Images/Social%20icons/image_2022-12-04_104856444.png?raw=true');
  background-repeat: no-repeat;
  background-position: right;
  background-attachment: fixed;
background-size: cover;
font-family: 'Trebuchet MS', sans-serif; 
}
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position:fixed(1);
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 2;
  width: 60%;
  padding: 20px;
  text-align: center;
  font-family: 'Trebuchet MS', sans-serif; 
}
.footer {
  position: center;
   left: 0;
   bottom: 0;
   width: 45%;
   background-color: cadetblue;
   color: black;
   text-align: center;
   border-radius: 10px;
   position: fixed(1);
   top: 75%;
   left: 75%;
 }