body{
  background: navajowhite;
  background-size: cover;
  font-family: 'Trebuchet MS', sans-serif; 
}
.container{
  display: inline-block;
}
.typed-out{
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap;
  animation: 
    typing 1s forwards;
  font-size: 1.6rem;
  width: 0;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
  width: 800px;
}


@media only screen and (max-width:500px) {
  /* For mobile phones: */
  body, .typed-out, .container, hr.rounded {
    width: 100%;
  }
}

@media only screen and (max-width:800px) {
  /* For tablets: */
  body, .typed-out, .container, hr.rounded {
    width: 80%;
    padding: 0;
  }


  .footer {
    position: center;
    left: 0;
    bottom: 0;
    width: 45%;
    background-color: cadetblue;
    color: black;
    text-align: center;
    border-radius: 10px;
  }