body{
    background: navajowhite;
    background-size: cover;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: x-large; 
  }
  .container{
    display: inline-block;
    text-align: center;
    
  }
  .typed-out{
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    animation: 
      typing 1s forwards;
    font-size: 1.6rem;
    width: 0;
  }
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }


  


