@media only screen and (max-width:500px) {
  /* For mobile phones: */
    .buttonredirect {
    width: 100%;

  }
}

@media only screen and (max-width:800px) {
  /* For tablets: */
 .buttonredirect {
    width: 80%;
    padding: 0;
  }

