.navbar {
    background-color: gold;
    margin: auto;

    padding: 1.5%;
    padding-left: 0%;

    border-radius: 25px;
}

.navbar li {

    margin: auto;

    padding: 1.5%;

    display: inline;

    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}



.navbar li.button {
    transition: 0.1s;
}



.navbar li.icon {
    width: 150px;
    height: 150px;
}




.blog {
    background-color: goldenrod;

    border-radius: 10px;

   margin: auto;

    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;


    font-family: Arial, Helvetica, sans-serif;
}

.blog .title {
    font-size: large;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.blog .text {
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: medium;
}




body {
    background-image: url('https://github.com/PGWECN/Brand-Kit/blob/Images/PGWECN%20Logos/PGWECN_BG.png?raw=true');
    background-repeat: no-repeat;
      background-attachment: fixed;
  background-size: cover;
  }


  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    .navbar, .blog,  .text, .title   {
      width: 100%;

    }
  }

  @media only screen and (max-width:800px) {
    /* For tablets: */
    .navbar, .blog,  .text, .title {
      width: 80%;
      padding: 0;
    }