.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    flex: 50%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    .colum, .row, .colum img, .content, .main   {
      width: 100%;

    }
  }

  @media only screen and (max-width:800px) {
    /* For tablets: */
    .colum logos, .row, .colum img, .content, .main {
      width: 80%;
      padding: 0;
    }


  .footer {
    position: center;
     left: 0;
     bottom: 0;
     width: 45%;
     background-color: cadetblue;
     color: black;
     text-align: center;
     border-radius: 10px;
     position: fixed(1);
     top: 75%;
     left: 75%;
   }