.navbar {

    border:1px #ccc solid;
    border-radius: 30px;
    padding: 1%;
    margin-left: 10%;
    margin-right: 10%;
    list-style: none;
    background-color: deepskyblue;
    border: 0px;
    box-shadow: 2px 2px 8px black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;

    }



    .navbar-item {
        display: inline;
        color:white;
        padding-right: 1%;
    }

    .navbar-logo {
        font-weight: bolder;
    }

    li:hover {
        font-weight: bold;
    }

    li a {
        text-decoration: none;
        color:white;
    }


    li a:hover {
        color:crimson;
        font-weight: bold;
    }


    .block-base {
        border-radius: 25px;
        box-sizing: border-box;
        padding: 1%;
        font-weight: bold;
        float: left;
        box-shadow: 2px 2px 8px black;
        background-color: deepskyblue;
        color:white;
        margin-bottom: 25px;
        margin-left: 25px;
    }

    .block-big {
        margin-right:10%;
    }

    .block-initial-padding {
        margin-left: 10%;
    }

    .block-base h1 {
        color:white;
        font-weight: bolder;
        padding-bottom: 50px;
        font-size: large;
        margin-top: 1px;
    }

    .clr{
        clear:both;
    }

    html {
        background-image: linear-gradient(to right, purple , green);
    }

    