img {
    border-radius: 50%;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .header {
    font-famil; 'Aldrich';font-size: 
  }

.btn {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    width: 5%;
  }
  
  .btn:hover {
    background-color: RoyalBlue;
  }
  .imgclass {
    margin-right: 10px;
  }